@{
    ViewBag.Title = "Admin";
}

<div class="panel">
    <label class="title">Администрирование</label>

    <div class="row">
        @Html.ActionLink("Applications", "Applications")
    </div>

    <div class="row">
        @Html.ActionLink("Statistics", "Index", "Statistics")
    </div>
    <div class="row">
        @Html.ActionLink("Groups", "Index", "Groups")
    </div>
    <div class="row">
        @Html.ActionLink("User passwords", "Index", "Passwords")
    </div>
</div>
