@{
    ViewBag.Title = "Admin";
}

<div class="panel">
    <label class="title">Администрирование</label>

    <div class="row">
        @Html.ActionLink("Applications", "Applications")
    </div>
</div>
