<div id="settingsDialog" class="panel settings-panel">
    <label class="title">Настройки</label>

    <div class="row hidden">
        <label for="timeInterval">Интервал между отправкой сообщений: </label>
        <input type="number" id="timeInterval" style="width: 50px;" maxlength="2" min="1" max="999" />
        <label> ceк.</label>
    </div>
    <div class="row hidden">
        <label for="saveLastMessage">Сохранять последнее сообщение: </label>
        <input type="checkbox" id="saveLastMessage"/>
    </div>
    <div class="row">
        <label>Application ID: <b id="applicationId"></b></label>
    </div>
    <div class="row hidden">
        <label for="debugMode">DEBUG MODE (эмуляция):</label>
        <input type="checkbox" id="debugMode"/>
    </div>
</div>
