<div class="panel app" step="app">
    @Html.Partial("~/app/view/appPanel/filters/filters.cshtml")
    @Html.Partial("~/app/view/appPanel/results/results.cshtml")
    @Html.Partial("~/app/view/appPanel/message/message.cshtml")
</div>