<div class="panel filter-panel">
    <label class="title">Фильтр пользователей</label>

    <div class="row">
        <label for="postId">Пставили лайк:</label>
        <input type="text" id="postId" class="url-input" />
    </div>

    <div class="row">
        <input type="checkbox" checked="checked" id="subscriptionEnabledCheckbox" />
        <label for="subscriptionEnabledCheckbox">не подписаны в группу: <b><span id="groupNameLabel"></span></b></label>
    </div>

    <div class="row">
        <input type="checkbox" checked="checked" id="noMessagesCheckbox" />
        <label for="noMessagesCheckbox">и не получали сообщений от этой группы</label>
    </div>

    <div class="row">
        <input type="checkbox" checked="checked" id="canSendMessageCheckbox" />
        <label for="canSendMessageCheckbox">только те, кому я могу отправлять сообщения</label>
    </div>

    <div class="row">
        <label>Активность:</label>
        <div class="subrow">
            <input type="radio" name="activity" id="recentActivityRadio" value="recent" checked="checked">
            <label for="recentActivityRadio">только те, кто недавно был в сети (последние 6ч)</label>
            <br>
            <input type="radio" name="activity" id="onlineActivityRadio" value="online">
            <label for="onlineActivityRadio">только те, кто сейчас "онлайн"</label>
            <br />
            <input type="radio" name="activity" id="allActivityRadio" value="all">
            <label for="allActivityRadio">все</label>
        </div>
    </div>

    <div class="row geo-filter">
        @Html.Partial("~/app/view/appPanel/shared/geoFilter.cshtml")
    </div>

    <div class="row">
        <label for="canSendMessage">Показать первых</label>
        <select id="hitsCount">
            <option value="5">5</option>
            <option value="10" selected="selected">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        <label for="canSendMessage">пользователей</label>
    </div>

    <div class="row buttons">
        <button id="searchButton" class="active-button">Искать!</button>
    </div>
</div>
