@model  VkApp.Web.Models.AppView
<div class="panel authentication" step="authentication">
    <label class="title">Авторизация</label>

    <div class="row">
        <button id="loginButton" class="active-button">Войти</button>
    </div>

    <div class="row">
        <div class="summary fail"></div>
    </div>
</div>