<input type="checkbox" checked="checked" class="enableCountryCheckbox" />
<label class="enableCountryCheckboxLabel">Страна:</label>
<select class="hidable selectedCountry">
    <option value="1">Россия</option>
    <option value="3" selected="selected">Беларусь</option>
    <option value="2">Украина</option>
    <option value="4">Казахстан</option>
    <option value="8">Израиль</option>
    <option value="9">США</option>
</select>
<div class="row subrow">
    <input type="checkbox" class="enableCityCheckbox" checked="checked" />
    <label class="enableCityCheckboxLabel">Город:</label>
    <select class="hidable selectedCity"></select>
</div>
