<div class="summary warning implicitFlowSwitcherPanel">
    <b>Внимание!</b>
    <br />
    Для того, чтобы использовать этот функционал, необходимо переключиться в режим <b><a href="https://vk.com/dev/implicit_flow_user" target="_blank" class="warning-link">Implicit Flow</a></b>
    <br />
    <button class="secondary-button switchToImplicitFlow">Переключиться</button>
</div>