<div class="panel message-panel" style="display: none">
    <label class="title">Разослать сообщения</label>
    <div class="row">
        <div class='summary warning'></div>
    </div>

    <div class="row" id="inputMessagesContainer">
    </div>

    <div class="row">
        <div class="add-message-button">Добавить сообщение</div>
    </div>

    <div class="row buttons">
        <button id="sendMessageToMeButton" class="secondary-button">Отправить себе</button>
        <button id="sendMessageButton" class="active-button">Отправить <b>всем!</b></button>
    </div>

    <script id="messagesProgressDialogTemplate" type="text/x-jquery-tmpl">
        <div id="messagesProgressDialog">
            <div id="progressbar">
                <div class="progress-label">Отправка сообщений...</div>
            </div>
            <div class="summary warning"></div>
            <div class="summary fail"></div>
        </div>
    </script>

    <script id="attachmentTemplate" type="text/x-jquery-tmpl">
        <div class="attachment">
            <div>${title} - <a href="${url}" target="_blank">${name}</a></div>
            <div class="remove-btn">x</div>
        </div>
    </script>

    <script id="inputMessageTemplate" type="text/x-jquery-tmpl">
        <div class="input-message-panel">
            <div class="row">
                <div class="column">
                    <textarea class="message">${message}</textarea>
                </div>
                <div class="column">
                    <div class="options-btn first-name">Имя</div>
                    <div class="options-btn last-name">Фамилия</div>
                    <div class="options-btn attach-photo"><b>+</b> Фото</div>
                    <div class="options-btn attach-video"><b>+</b> Видео</div>
                    <div class="options-btn attach-audio-playlist"><b>+</b> Плэйлист</div>
                    <div class="options-btn remove-message"><b>Х</b> Удалить</div>
                </div>
            </div>
            <div class="row">
                <label class="title">Вложения:</label>
                <div class="attachments">
                </div>
            </div>
        </div>
    </script>

</div>