<div class="panel instruments-panel">
    <label class="title">Проверка</label>

    <div class="row">
        <label>Проверить пользователя, подписался ли он в группу <b><span id="groupNameLabel"></span></b></label>
    </div>

    <div class="row">
        <lebel for="userIdOrUrlInput">Ссылка или ID пользователя:</lebel>
        <input type="text" id="userIdOrUrlInput" />
    </div>

    <div class="row">
        <div class="summary info"></div>
    </div>

    <div class="row">
        <div class="summary warning"></div>
    </div>

    <div class="row">
        <div class="summary fail"></div>
    </div>

    <div class="row buttons">
        <button id="checkButton" class="active-button">Проверить!</button>
    </div>
</div>