<div class="panel results-panel">
    <label class="title">Результаты</label>
    <div class="row">
        <div class='summary fail'></div>
    </div>
    <div class="row result-users">
    </div>

    <script id="usersTemplate" type="text/x-jquery-tmpl">
        <div class="user {{if !can_write_private_message}}disabled{{/if}}" user-id="${id}">
            <div class="online-panel">
                {{if online}}<div class="online" title="online"></div>{{/if}}
            </div>
            <div class="avatar">
                <img src='${photo_50}' />
            </div>
            <div class="info-panel">
                <a href="https://vk.com/id${id}" target="_blank">${first_name} ${last_name}</a>
                <div class="additional-info">
                    {{if city}}${city.title}, {{/if}}
                    {{if country}}${country.title}{{/if}}
                </div>
            </div>
            <div class="info-panel">
                {{if can_write_private_message}}
                    <button class="manual-send-message" user-id="${id}">Отправить сообщение</button>
                {{/if}}
            </div>
            <div class="status-panel">
                {{if !can_write_private_message}}<div class="disabled"></div>{{/if}}
            </div>
        </div>
    </script>
</div>


