<div class="panel initialization" step="initialization">
    <label class="title">Инициализация</label>

    <div class="row">
        Теперь выберете группу(Aillion, Among Gods и тд), в интересах которой вы делаете рассылку :
    </div>

    <div class="row none" id="firstVisitWarning" style="color: orange">
        <div class="summary warning" style="display: none">
            !!!<b>Внимание, ВАЖНО</b>!!!
            <br />
            Если вы пользовались старой версией программы, <b>ОБЯЗАТЕЛЬНО</b> выберете группу, в интерсах которой вы <b>ДЕЛАЛИ</b> рассылку.
            <br />
            Это необходимо для правильной инициализации уже разосланных сообщений
        </div>
    </div>

    <div class="row">
        <select id="selectGroup" class="groups-select"></select>
        <button id="addGroupButton" class="secondary-button small">+ Добавить</button>
    </div>

    <div class="row">
        <button id="initUserButton" class="active-button">Далее</button>
    </div>

    <div class="row">
        <div class="summary fail" style="display: none"></div>
    </div>
</div>

<div id="addGroupDialog" class="hidden">
    <div class="row">
        <label>Вставьте URL или ID группы:</label>
    </div>
    <div class="row">
        <input type="text" id="groupUrlInput" class="url-input" />
    </div>
    <div class="row">
        <div class="summary fail" style="display: none"></div>
    </div>
</div>