<div class="panel statistics-panel">
    <label class="title">Статистика</label>

    <div class="row">
        <div id="statisticsStatusBar"><div class="progress-label">Загрузка и обработка данных...</div></div>
    </div>

    <div class="row">
        <div class="summary fail" style="display: none"></div>
    </div>

    <div class="hidden" id="statisticsResultsPanel">
        <div class="row">
            <label>Показать статистику для:</label>
            <select id="selectedStatisticsGroups"></select>
        </div>

        <div class="row" id="statisticsPanel">
            <div class="row">
                Общая статистика:
            </div>
        </div>

        <div class="row" id="frequenciesStatisticsPanel">
        </div>
    </div>

    <script id="frequencySelectionTemplate" type="text/x-jquery-tmpl">
        <div class="row" style="padding-top: 20px;">
            Статистика по периодам:
            <select id="selectFrequency">
                {{each frequencies}}
                <option value="${$value.name}" {{if $value.isSelected}} selected="selected" {{/if}}>${$value.name}</option>
                {{/each}}
            </select>
        </div>
    </script>

    <script id="statisticsTemplate" type="text/x-jquery-tmpl">
        <table class="grid" style="width: 1050px;">
            <tr class="header">
                <td style="width: 25%">Отправитель</td>
                <td style="width: 25%">Всего отправлено</td>
                <td style="width: 25%">Из них подписалось</td>
                <td style="width: 25%">Процент</td>
            </tr>
            {{each statistics}}
            <tr {{if $value.isTotals}} class="totals" {{/if}}>
                <td>
                    {{if $value.id>0}}
                        <a href="http://vk.com/id${$value.id}" target="_blank">${$value.name}</a>
                    {{else}}
                        ${$value.name}
                    {{/if}}
                </td>
                <td class="number">${$value.total}</td>
                <td class="number">${$value.subscribed}</td>
                <td class="number">${$value.percent}</td>
            </tr>
            {{/each}}
        </table>

    </script>

    <script id="frequencyStatisticsTemplate" type="text/x-jquery-tmpl">
        <table class="grid" style="width: 1050px; overflow-x: auto;">
            <tr class="header">
                {{each headers}}
                <td>${$value}</td>
                {{/each}}
            </tr>
            {{each rows}}
            <tr>
                {{each $value}}
                <td {{if $value.bad}} class="bad-result" {{/if}}
                    {{if $value.good}} class="good-result" {{/if}}>
                    ${$value.text}
                    {{if $value.percent}}<br/>${$value.percent}{{/if}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
            <tr class="totals">
                {{each totals}}
                <td {{if $value.bad}} class="bad-result" {{/if}}
                    {{if $value.good}} class="good-result" {{/if}}>
                    ${$value.text}
                    {{if $value.percent}}<br />${$value.percent}{{/if}}
                </td>
                {{/each}}
            </tr>
        </table>
    </script>
</div>