body {
    background-color: #EDEEF0;
    color: #2A5885;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 400;
    line-height: 27px;
    font-size: 16px;
    text-overflow: ellipsis;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #2A5885;
    font-weight: 700;
}

input.invalid {
    background-color: antiquewhite;
    border: 1px solid red;
}

input.url-input{
    width: 500px;
}

.panel {
    display: block;
    border: 1px solid #E3E4E8;
    background-color: #FFF;
    margin: 10px;
    padding: 20px;
}

    .panel .title {
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
        color: #777;
    }

    .panel .row {
        margin: 10px 0;
        display: block;
    }

        .panel .row.disabled {
            color: #A0AFBC;
        }

        .panel .row .subscriptions-input {
            display: inline-block;
        }

        .panel .row.disabled .subscriptions-input {
            display: none;
        }

        .panel .row.buttons {
            border-top: solid 1px #EEE;
            margin: 10px 0 0 0;
            padding-top: 10px;
        }

        .panel .row .column {
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;
        }

.user {
    padding: 5px;
    vertical-align: center;
    height: 50px;
}

    .user.disabled,
    .user.disabled a {
        background-color: #fcfcfc;
        color: #A0AFBC;
    }

    .user .info-panel {
        font-weight: bold;
    }

    .user .avatar {
        display: inline-block;
        width: 70px;
    }

    .user .info-panel,
    .user .status-panel {
        vertical-align: top;
        padding-top: 12px;
        display: inline-block;
        width: 300px;
    }

        .user .status-panel div {
            display: inline-block;
            width: 25px;
            height: 25px;
        }

        .user .status-panel .disabled {
            background: url(./icons.png) -40px -8px;
        }

        .user .status-panel .ok {
            background: url(./icons.png) -72px -10px;
        }

        .user .status-panel .fail {
            background: url(./icons.png) -10px -10px;
        }

.message-panel textarea {
    display: block;
    height: 200px;
    width: 500px;
}

.message-panel .options-btn {
    display: block;
    width: 90px;
    border: #2a5885 solid 1px;
    background-color: aliceblue;
    cursor: pointer;
    margin: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.attachments .attachment {
    display:block;
}

.attachments .attachment div {
    display: inline-block;
}

    .attachments .attachment .remove-btn {
        height: 12px;
        width: 12px;
        color: red !important;
        cursor: pointer;
    }

.ui-progressbar {
    margin: 20px 0;
    position: relative;
}
.progress-label {
    position: absolute;
    text-align: center;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.summary.sucess {
    border: #2a5885 solid 1px;
    background-color: aliceblue;
    padding: 5px;
    margin: 10px 0;
}

.summary.fail {
    border: 1px solid red;
    background-color: antiquewhite;
    padding: 10px;
}
