
@{
    ViewBag.Title = "UndoMessage";
}

<div class="panel training">
    <label class="title">Отмена отправки сообщения</label>
    <div class="row">
        <div class="subrow">
            Попытка отправить сообщение пользователю <a href="@ViewBag.UserLink">@ViewBag.UserLink</a> не удалась.
            <br/>
            Отправка сообщения была отменена.
            <br/>
            Скорее всего, вы уже превысили лимит сообщений на сегодня.
        </div>
    </div>
</div>

