
@{
    ViewBag.Title = "Training";
}

<div class="panel training">
    <label class="title">Инструкция по применению</label>
    <div class="row">
        <div class="subrow">
            <a href="#pre">Вступление</a>
            <br />
            <a href="#auth">Авторизация</a>
            <br />
            <a href="#search">Поиск</a>
            <br />
            <a href="#send">Рассылка</a>
            <br />
            <a href="#more">Дополнительные инструменты</a>
            <br />
            <a href="#example">Примеры</a>
            <br />
        </div>
    </div>
    <br />
    <div class="row" id="pre">
        <label class="title">Вступление</label>
        <div class="subrow">
            Данное приложение является самописной тулой для продвижения музыкальных групп (в первую очередь <a href="https://vk.com/aillion" target="_blank">Aillion</a> и <a href="https://vk.com/amongyourgods" target="_blank">Among Gods</a>). Написано оно мной (<a href="https://vk.com/id34545583" target="_blank">Александр Прокофьев</a>), и по всем вопросам просьба обращаться ко мне.
            <br />
            Данное приложение предназначено только для работы в контексте наших групп. Любая попытка каким-либо образом использовать его для личных целей будет заблокирована.
            <br />
            <br />
            !УБЕДИТЕЛЬНАЯ ПРОСЬБА!
            <br />
            Соблюдать конфиденциальность, и лишний раз не палить контору=) У нас цель - собрать армию слушателей для себя. Для этого мы используем собственные идеи и наработки, в том числе в виде этого приложения. Зачем нам конкуренты? =) Вопрос риторический=) По этому очень надеюсь на ВАШЕ понимание и солидарность.
            <br />
            <br />
            Если ВЫ все еще готовы помочь и согласны с моими пожеланиями, тогда приступим!
        </div>
    </div>
    <br />
    <div class="row" id="auth">
        <label class="title">Авторизация</label>
        <div class="subrow">
            Открываем страницу по адресу: <a href="@Url.Action("Index", "App")" target="_blank">sndall.ru</a>
            <br />
            <img src="~/Content/images/step1.jpg" />
            <br />
            В новом окне открывается
            <br />
            <img src="~/Content/images/step2.jpg" />
            <br />
            Появляется страница вида:
            <br />
            <img src="~/Content/images/step3.jpg" />
            <br />
            В некоторых случаях она может открываться сразу, без необходимости нажатия "Разрешить" из предыдущего пункта.
            <br />
            Копируем содержимое, и вставляем в исходную страницу:
            <br />
            <img src="~/Content/images/step4.jpg" />
            <br />
            Открывается панель выбора группы, для которой мы будем делать рассылку. В данном случае для Эйллион. По этому выбираем Эйллион.
            <br />
            <img src="~/Content/images/step5.jpg" />
            <br />
            Вы авторизовались. Теперь можно делать рассылку.
        </div>
    </div>
    <br />
    <div class="row" id="search">
        <label class="title">Поиск</label>
        <div class="subrow">
            <img src="~/Content/images/step6.jpg" />
            <br />
            Суть рассылки такова: рассылка делается людям, кому нравится подобная музыка. Для этого берем какой-нибудь пост вконтакте, например на новый альбом Арии, или Эпидемии. Копируем ссылку на этот пост, и вставляем его в поле <b>1</b>.
            Программа берет всех людей, кто поставил лайк на этот пост и пропускает их через дополнительные фильтры (2-8), чтобы получить окончательную выборку.
            <br />
            <br />
            Значение всех этих фильтров следующее:
            <br />
            <b>2</b> - исключает тех людей, кто уже подписан на нашу группу (Эйллион)
            <br />
            <b>3</b> - исключает тех людей, кто уже получал рассылку с помощью это программы (очень важный пункт, крайне не рекомендую его выключать. по сути, он нужен для того чтобы не рассылать приглашения одному и тому же человеку)
            <br />
            <b>4</b> - исключает тех, с кем уже есть переписка из личного аккаунта
            <br />
            <b>5</b> - исключает тех, кто запретил присылать ему сообщения
            <br />
            Эти пункты (2-5) выключать не рекомендется, для правильной работы приложения. Они нужны больше для информативности.
            <br />
            <b>6</b> - исключает неактивных, либо тех кто офлайн, взависимости от настроек и желания побыстрее донести информацию =)
            <br />
            <b>7</b> - фильтр по региону. можно выбрать страну. можно выбрать город. можно ничего не выбирать, просто отключив этот фильтр. по умолчанию стоит Беларусь. Но потенциальных слушателей полно и в России, и в Украине. По этому тут на свое усмотрение, кому делать рассылку =)
            <br />
            <b>8</b> - устанавливает количество людей для поиска. У контакта есть ограничение: 20 сообщений в день. по этому максимальное количество поиска - 20.
            <br />
            <br />
            Когда все фильтры выставлены - можно приступать к поиску, нажав на соответствующую кнопку.
        </div>
    </div>
    <br />
    <div class="row" id="send">
        <label class="title">Рассылка</label>
        <div class="subrow">
            <img src="~/Content/images/step7.jpg" />
            <br />
            После того как процедура поиска отработала, под результатами появится панель с сообщением:
            <br />
            <img src="~/Content/images/step8_1.jpg" />
            <br />
            Данная панель позволяет сформировать сообщение, которое затем будет автоматически разослано всем, кто есть в результатах поиска.
            <br />
            Правая панель с кнопками позволяет добавить имя-фамилию получателя (при нажатии появляются тего &lt;FirstName&gt; и &lt;LastName&gt;, которые в процессе рассылки будут заменены на имена людей, кому идет рассылка)
            Так же эта панель позволяет добавить вложения в сообщения. Фото, видео, плэйлист. Для этого нужно просто скопировать ссылку на соответствующее вложение в появившейся диалог:
            <br />
            <img src="~/Content/images/step9.jpg" />
            <br />
            Для того, чтобы проверить, красиво ли выглядит сообщение, его можно отправить себе с помощью соответствующей кнопки внизу панели.
            <br />
            Для того, чтобы рассылка выглядела наименее похожей на спам, была добавлена функция рассылки разных сообщений. Для этого, с помощью кнопки "добавить сообщение", можно добавить несколько сообщений (максимум 5 штук), с различающимся содержимым. При рассылке эти сообщения будут рассылаться по очереди, таким образом создавая видимость, что рассылкой занимается реальный человек, а не робот, и не шлет всем одно и то же сообщение. 
            <br />
            <br />
            Если с сообщением все ОК - то можно приступать к рассылке! Жмем "отправить всем" и наслаждаемся результатом=)))
            <br />
            Сообщения будут рассылаться людям из результатов поиска в личку вконтакте от ВАШЕГО имени!
            <br />
            Так же напоминаю, что ограничение контакта 20 сообщений в день! На 21-м появляется ошибка
            <br />
            <img src="~/Content/images/step10.jpg" />
            <br />
            Это нормально! Просто нужно подождать до завтра. Вообще, я бы не рекоменжовал сразу рассылать пачками, лучше начать с 5 в день, потом 10, потом 15 и тд. Тк есть вероятность того, что контакт начнет блочить вас. Для него это будет выглядет подозрительно: пользователь ни с того ни с сего начал спамить. По этому лучше начинать с малого и постепенно!
            <br />
            <br />
            Для упрощения работы с рассылкой, сообщение сохраняется. И в следующий раз не нужно будет все печатать и вставлять ссылки с нуля.
            <br />
            Также есть возможность управлять интервалом между отправкой сообщений. Делается это через меню "НАСТРОЙКИ" сверху страницы. По умолчанию - 30 с.
        </div>
    </div>
    <br />
    <div class="row" id="more">
        <label class="title">Дополнительные инструменты</label>
        <div class="subrow">
            Часто возникают ситуации, что люди отвечают. Отвечают позитивно. Пишут что нравится. Но не всегда подписываются на наш паблик. Для этого есть инструмент для проверки, подписался ли человек, или нет:
            <br />
            <img src="~/Content/images/step11.jpg" />
            <br />
            Работает этот инструмент предельно просто: копируем ссылку на человека, которого нужно проверить, вставляем в поле, и жмем кнопку.
            <br />
            Если человеку понравилось (судя по отзыву), но он не вступил - можно еще раз намекнуть на то, что надо бы вступить к нам в паблик =)
            <br />
            <br />
            Еще один полезный инструмент - это статистика. Можно посмотреть свои резцльтаты рассылки. Сколько человек вступило в паблик. Сравнить свои результаты с остальными. Сделать выводы. И работать дальше=)
        </div>
    </div>
    <br />
    <div class="row" id="example">
        <label class="title">Примеры</label>
        <div class="subrow">
            Ну и наконец-то примеры, как Я лично делаю рассылку.
            <br />
            Методом проб и ошибок я пришел к выводу, что эффективнее всего работают смолтолки (небольшие диалоги) с получателями сообщений.
            <br />
            Вот пример:
            <br />
            <img src="~/Content/images/step12.jpg" />
            <br />
            Нужно понимать, что все люди разные. Кому-то может понравиться, кому-то может не понравиться. Кто-то в принципе может негативно относиться к рассылке. По этому не стоит принимать близко к сердцу негативные ответы.
            По своему опыту могу сказать, что негатива не более 1 из 10. Если получается больше, то, скорее всего, что-то не так в исходном сообщении. Следует его подкорректировать. Либо стоит поменять группу, по которой вы делаете поиск (например те кто поставил лайк на новый альбом Кипелова реагируют куда позитивнее, чем те кто любят Рамштайн. так что следует подбирать максимально релевантную аудиторию для поиска)
            <br />
            <br />
            Еще момент: часто бывает, что сообщение прочитано, но человек не отвечает. В таком случае хорошо помогает такой прием: написать ему через некоторое время что-нибудь в духе "Ну как тебе?", или "Что скажешь? Как впечатление?" и тп. Очень часто после этого отвечают.
            <br />
            <br />
            По поводу сообщений. Опять же, все люди разные, и можно нарваться на вредных людей, которые могут пометить ВАШИ сообщения как спам! По этому сразу предупреждаю, что есть вероятность того что контакт может вас заблочить, посчитав что страница взломана. В этом ничего страшного в принципе нет. Просто меняете пароль и пользуетесь вашим аккаунтом дальше. Для того чтобы этого максимально избехать могу дать несколько рекомендаций от себя:
            <br />
            1) стараться писать максимально приветливое и ненавязчивое первое сообщение с максимальной информативностью.
            <br />
            2) стараться делать рассылку не одной пачкой в 20 сообщений за раз, а более мелкими порциями несколько раз в день (например по 10 утром и вечером)
            <br />
            3) начинать с малого. например для начала по 5 сообщений в день. потом, через некоторое время, по 10, потом больше. таким образом вы не будете выглядить подозрительно для контакта, не начнете резко, в один момент, бомбить по 20 сообщений ежедневно
            <br />
            4) ставить интервал между сообщениями побольше (по уполчанию он стоит 30с. но я рекомендую ставить минут 5 - и пусть себе приложение делает рассылку в фоне)
            <br />
            5) стараться не рассылать абсолютно одинаковые сообщения каждый день. лучше всего каждый раз что-то перефразировать, поменять местами слова или предложения. чтобы у контакта было меньше подозрений на спам =) К тому же не стоит забывать про функцию рассылки нескольких сообщений с различающимся текстом. Так вы будете меньше похожи на робота с точки зрения контакта=)
            <br />
            <br />
            <b>PS</b>: Мы, группа Эйллион, и я в частности, очень благодарны ВАМ за помощь в этом нелегком деле!
            <br />
            СПАСИБО!!!
            <br />
            <br />
            НУ А ТЕПЕРЬ НАСТАЛО ВРЕМЯ ДЕЙСТВОВАТЬ! =)
        </div>
    </div>
</div>

