body,
body .ui-widget-content,
body .body-content {
    background-color: #EDEEF0;
    color: #2A5885;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 400;
    line-height: 27px;
    font-size: 16px;
    text-overflow: ellipsis;
}

    body .ui-widget-content {
        background-color: #FFF;
    }

footer p {
    margin: 30px;
}

.training img {
    border: 1px dotted #777;
    width: 700px;
    margin: 20px;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #2A5885;
    font-weight: 700;
}

select.invalid,
input.invalid {
    background-color: antiquewhite;
    border: 1px solid red;
}

input.url-input {
    width: 500px;
}

.hidden {
    display: none;
}

.panel {
    display: block;
    border: 1px solid #E3E4E8;
    background-color: #FFF;
    margin: 10px 20px;
    padding: 20px;
}

    .panel button.active-button {
        background-color: #2a5885;
        border: solid 1px #2a5885;
        color: #FFF;
        padding: 5px 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        margin: 5px 10px 0 0;
    }

    .panel button.secondary-button {
        border: #2a5885 solid 1px;
        color: #2a5885;
        background-color: #f0f8ff;
        padding: 5px 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        margin: 5px 10px 0 0;
    }

        .panel button.secondary-button.small {
            padding: 4px 8px;
            font-size: 12px;
        }

.ui-tabs .panel {
    margin: 0 0 10px 0;
}

.panel.app {
    background-color: #EDEEF0;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.panel .settings-btn {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.panel .groups-select {
    min-width: 200px;
    height: 23px;
}

.panel select {
    font-size: 14px;
}

.panel .title {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    color: #777;
}

.row,
.panel .row {
    margin: 10px 0;
    display: block;
}

    .panel .row .subrow {
        margin-left: 50px;
    }

    .panel .row.disabled {
        color: #A0AFBC;
    }

        .panel .row.disabled .hidable,
        .panel .row.disabled .subrow {
            display: none;
        }

    .panel .row.buttons {
        padding-top: 10px;
    }

    .panel .row .column {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
    }

.input-message-panel {
    border-bottom: solid 1px #EEE;
    margin-bottom: 20px;
}

.user {
    padding: 5px;
    vertical-align: center;
    height: 50px;
}

    .user.disabled,
    .user.disabled a {
        background-color: #fcfcfc;
        color: #A0AFBC;
    }

    .user .info-panel {
        font-weight: bold;
    }

        .user .info-panel .additional-info {
            font-weight: 100;
            font-size: 12px;
            line-height: 12px;
            color: #777;
        }

    .user .avatar {
        display: inline-block;
        width: 70px;
    }

    .user .info-panel,
    .user .status-panel {
        vertical-align: top;
        padding-top: 10px;
        display: inline-block;
        width: 300px;
    }

    .user .online-panel {
        width: 20px;
        height: 50px;
        display: inline-block;
    }

        .user .online-panel .online {
            height: 15px;
            width: 15px;
            margin-top: 18px;
            background: url(./images/icons.v2.png) -143px -15px;
        }

    .user .status-panel div {
        display: inline-block;
        width: 30px;
        height: 25px;
    }

    .user .status-panel .disabled {
        background: url(./images/icons.v2.png) -40px -8px;
    }

    .user .status-panel .ok {
        background: url(./images/icons.v2.png) -72px -10px;
    }

    .user .status-panel .fail {
        background: url(./images/icons.v2.png) -10px -10px;
    }

    .user .status-panel .warning {
        background: url(./images/icons.v2.png) -165px -10px;
    }

.message-panel textarea {
    display: block;
    height: 200px;
    width: 500px;
}

.message-panel .add-message-button {
    display: inline-block;
    height: 30px;
    padding-left: 40px;
    cursor: pointer;
    background: url(./images/icons.v2.png) -200px -10px no-repeat;
}

.message-panel .remove-message-button {
    display: block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: url(./images/icons.v2.png) -10px -10px;
}

.message-panel .options-btn {
    display: block;
    width: 90px;
    border: #2a5885 solid 1px;
    background-color: #F0F8FF;
    cursor: pointer;
    margin: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

    .message-panel .options-btn.remove-message {
        color: red;
        border: red solid 1px;
        background-color: #faebd7;
    }

.attachments .attachment {
    display: block;
}

    .attachments .attachment div {
        display: inline-block;
    }

    .attachments .attachment .remove-btn {
        height: 12px;
        width: 12px;
        color: red !important;
        cursor: pointer;
    }

.ui-progressbar {
    margin: 20px 0;
    border: #2a5885 solid 1px !important;
    position: relative;
}

    .ui-progressbar .ui-progressbar-value {
        border: #2a5885 solid 1px;
        background-color: #F0F8FF;
        color: #2A5885;
    }

    .ui-progressbar .progress-label {
        position: absolute;
        width: 100%;
        text-align: center;
        line-height: 25px;
        top: 4px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
        color: #2A5885;
    }

.ui-corner-all,
.ui-corner-top,
.ui-corner-tl,
.ui-corner-right,
.ui-corner-tr,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl,
.ui-corner-br {
    border-radius: 0px;
}

.ui-dialog {
    padding: 0;
}

.ui-widget-header,
.ui-widget-header .ui-dialog-title {
    border: 0px none;
    color: #777;
}

.summary.fail {
    display: none;
    border: 1px solid red;
    color: red;
    background-color: #faebd7;
    padding: 10px;
    margin: 10px 0;
}

.summary.warning {
    display: none;
    border: 1px solid #ffa500;
    color: #DB7F00;
    background-color: #faebd7;
    padding: 10px;
    margin: 10px 0;
}

.summary.info {
    display: none;
    border: 1px solid #2a5885;
    color: #2a5885;
    background-color: #f0f8ff;
    padding: 10px;
    margin: 10px 0;
}

.summary.fail.visible,
.summary.warning.visible,
.summary.warning.info {
    display: block;
}

.result-users .loader {
    display: block;
    height: 100px;
    background: url(./images/loading.gif) 20px 0 no-repeat;
}

form {
    margin: 0 10px;
    padding: 15px;
    display: inline-block;
    border: 1px solid #E3E4E8;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

    table.grid {
        border: 1px solid #E3E4E8;
        margin: 10px;
    }

        table.grid td {
            text-align: right;
            padding: 2px 10px;
        }

        table.grid .header {
            background-color: #edeef0;
        }

            table.grid td,
            table.grid .header td {
                text-align: center;
            }

                table.grid td.number {
                    text-align: right;
                }

        table.grid td {
            border: 1px solid #E3E4E8;
        }

        table.grid .totals td {
            font-weight: 600;
        }


.ui-tabs .ui-tabs-panel {
    margin: 0;
    padding: 0;
    background-color: #EDEEF0;
}

.ui-tabs {
    padding: 0;
    margin: 10px 20px;
}

    .ui-tabs .ui-tabs-nav {
        padding: 0;
    }

    .ui-tabs.ui-widget.ui-widget-content {
        border: 0 none;
    }

    .ui-tabs .ui-tabs-nav li {
        border: 0 none;
    }

    .ui-tabs .ui-widget-header {
        background-color: #EDEEF0;
        padding-bottom: 10px;
    }

    .ui-tabs .ui-state-default.ui-state-active {
        background-color: #2a5885 !important;
        padding: 0;
    }

        .ui-tabs .ui-state-default.ui-state-active a {
            color: #FFF;
        }

    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        padding: 0;
    }

    .ui-tabs .ui-state-default {
        background-color: #FFF;
    }

    .ui-tabs .ui-tabs-nav li {
        margin-right: 8px;
    }

    .ui-tabs .ui-state-default a {
        color: #777;
    }
